<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
			<rules>
<rule name="Add www" stopProcessing="true">

          <match url="(.*)" ignoreCase="true" />

          <conditions>
                        <add input="{HTTP_HOST}" pattern="^powervida\.biz$" />

          </conditions>

          <action type="Redirect" url="http://www.powervida.biz/{R:0}" redirectType="Permanent" />

        </rule>
        
 <rule name="Redirect to the www" stopProcessing="true">

          <match url="(.*)" ignoreCase="true" />

          <conditions>
                        <add input="{HTTP_HOST}" pattern="^powervida\.com$" />

          </conditions>

          <action type="Redirect" url="http://www.powervida.com/{R:0}" redirectType="Permanent" />

        </rule>
<rule name="add WWW Bodyalign" stopProcessing="true">

          <match url="(.*)" ignoreCase="true" />

          <conditions>
                        <add input="{HTTP_HOST}" pattern="^bodyalign\.com$" />

          </conditions>

          <action type="Redirect" url="http://www.bodyalign.com/{R:0}" redirectType="Permanent" />

        </rule>
 <rule name="Add www Powervida.mx" stopProcessing="true">

          <match url="(.*)" ignoreCase="true" />

          <conditions>
                        <add input="{HTTP_HOST}" pattern="^powervida\.mx$" />

          </conditions>

          <action type="Redirect" url="http://www.powervida.mx/{R:0}" redirectType="Permanent" />

        </rule>

				<rule name="AddTrailingSlashRule1" enabled="true" stopProcessing="true">
					<match url="(.*[^/])$" />
					<conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Redirect" url="{R:1}/" />
				</rule>
				<rule name="Imported Rule 1" enabled="false" stopProcessing="true">
					<match url="^CFIDE/administrator.*" />
					<action type="Redirect" url="http://{HTTP_HOST}{R:0}" redirectType="Found" />
				</rule>
				<rule name="Imported Rule 2" enabled="false" stopProcessing="true">
					<match url="^CFIDE/probe.*" />
					<action type="Redirect" url="http://{HTTP_HOST}{R:1}" redirectType="Found" />
				</rule>
<rule name="Imported Rule 8" enabled="false" stopProcessing="true">
					<match url="([^/]*)?(.*)\.pv" ignoreCase="true" />
					<conditions logicalGrouping="MatchAll">
                        <add input="{URL}" pattern="^(?!.API|.common|.img|.css|.js|.CFIDE|.public|.error|.cfc|.files)(.)" />
					</conditions>
					<action type="Rewrite" url="{R:2}.cfm?u={R:1}" appendQueryString="true" />
				</rule>

				<rule name="extensionlessCFM" enabled="true" stopProcessing="true">
			          <match url="(.*)\.cfm$" />
				<conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_URI}" pattern="^/(includes|CFIDE|images/site|files)" negate="true" />                     
                		</conditions>
			          <action type="Redirect" url="{R:1}" redirectType="Permanent" />
			    </rule>
				<rule name="Imported Rule 9" enabled="true" stopProcessing="true">
					<match url="([^/]*)?(.*)\!(.*[^/]).*" ignoreCase="true" />
					<conditions logicalGrouping="MatchAll">
                        <add input="{URL}" pattern="^(?!.common|.img|.css|.js|.CFIDE|.public|.error|.cfc|.files)(.)" />
					</conditions>
					<action type="Rewrite" url="/url-parse.cfm?u={R:1}&amp;f={R:2}&amp;p={R:3}" appendQueryString="true" />
				</rule>  
<rule name="Imported Rule 99" enabled="true" stopProcessing="true">
					<match url="([^/]*)?(.*)\/(.*[^/*]).pv" ignoreCase="true" />
					<conditions logicalGrouping="MatchAll">
                         <add input="{URL}" pattern="^(?!.common|.img|.css|.js|.CFIDE|.public|.error|.cfc|.files)(.)" />
					</conditions>
					<action type="Rewrite" url="/RewriteProduct.cfm?u={R:1}&amp;f={R:3}&amp;c={R:2}" appendQueryString="true" />
				</rule>    
				<rule name="Imported Rule 10" enabled="true" stopProcessing="true">
					<match url="([^/]*)?(.*)" ignoreCase="true" />
					<conditions logicalGrouping="MatchAll">
                        <add input="{URL}" pattern="^(?!.common|.img|.css|.js|.CFIDE|.public|.error|.cfc|.files)(.)" />
					</conditions>
					<action type="Rewrite" url="/url-parse.cfm?u={R:1}&amp;f={R:2}" appendQueryString="true" />
				</rule>
				<rule name="Imported Rule 11" enabled="true" stopProcessing="true">
					<match url="^((?!common|img|css|js|cfide|public|error|cfc|files|url-parse\.cfm|.*\.cfm).*)$" />
					<action type="Rewrite" url="/url-parse.cfm?U={R:1}&amp;f=" appendQueryString="true" />
				</rule>
                
			</rules>
		</rewrite>
        <directoryBrowse enabled="false" />
    </system.webServer>
</configuration>
