<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>
<rewrite>
<rules>
<rule name="Add www" stopProcessing="true">
  <match url="(.*)" ignoreCase="true" />
    <conditions>
    <add input="{HTTP_HOST}" pattern="^bodyalign\.biz$" />
    </conditions>
    <action type="Redirect" url="http://www.bodyalign.biz/{R:0}" redirectType="Permanent" />
</rule>
<rule name="Redirect to the www" stopProcessing="true">
  <match url="(.*)" ignoreCase="true" />
  <conditions>
  <add input="{HTTP_HOST}" pattern="^bodyalign\.com$" />
  </conditions>
  <action type="Redirect" url="http://www.bodyalign.com/{R:0}" redirectType="Permanent" />
</rule>
<rule name="Add www bodyalign.mx" stopProcessing="true">
  <match url="(.*)" ignoreCase="true" />
  <conditions>
  <add input="{HTTP_HOST}" pattern="^bodyalign\.mx$" />
  </conditions>
  <action type="Redirect" url="http://www.bodyalign.mx/{R:0}" redirectType="Permanent" />
</rule>

<rule name="Product Rewrite (PV)" enabled="true" stopProcessing="true">
  <match url="([^/]*)?(.*)\/(.*[^/*]).ba" ignoreCase="true" />
  <conditions logicalGrouping="MatchAll">
  <add input="{URL}" pattern="^(?!.global|.common|.img|.css|.js|.CFIDE|.public|.error|.cfc|.files)(.)" />
  </conditions>
  <action type="Rewrite" url="/RewriteProduct.cfm?u={R:1}&amp;f={R:3}&amp;c={R:2}" appendQueryString="true" />
</rule>
<rule name="Character URL Parse (!)" enabled="true" stopProcessing="true">
  <match url="([^/]*)?(.*)\!(.*[^/]).*" ignoreCase="true" />
  <conditions logicalGrouping="MatchAll">
    <add input="{URL}" pattern="^(?!.global|.common|.img|.css|.js|.CFIDE|.public|.error|.cfc|.files)(.)" />
  </conditions>
  <action type="Rewrite" url="/url-parse.cfm?u={R:1}&amp;f={R:2}&amp;p={R:3}" appendQueryString="true" />
</rule>
  <rule name="AddTrailingSlashRule1" enabled="true" stopProcessing="true">
    <match url="(.*[^/])$" />
    <conditions>
      <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
      <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
    </conditions>
    <action type="Redirect" url="{R:1}/" />
  </rule>
  <rule name="extensionlessCFM" enabled="true" stopProcessing="true">
    <match url="(.*)\.cfm$" />
    <conditions logicalGrouping="MatchAll">
      <add input="{REQUEST_URI}" pattern="^/(includes|global|common|CFIDE|images/site|files|js|img)" negate="true" />
    </conditions>
    <action type="Redirect" url="{R:1}" redirectType="Permanent" />
  </rule>
<rule name="Main URL Parse I" enabled="true" stopProcessing="true">
  <match url="([^/]*)?(.*)" ignoreCase="true" />
  <conditions logicalGrouping="MatchAll">
  <add input="{URL}" pattern="^(?!.global|.common|.img|.css|.js|.CFIDE|.public|.error|.cfc|.files)(.)" />
  </conditions>
  <action type="Rewrite" url="/url-parse.cfm?u={R:1}&amp;f={R:2}" appendQueryString="true" />
</rule>
<rule name="Main URL Parse II" enabled="true" stopProcessing="true">
  <match url="^((?!global|common|img|css|js|cfide|public|error|cfc|files|url-parse\.cfm|.*\.cfm).*)$" />
  <action type="Rewrite" url="/url-parse.cfm?U={R:1}&amp;f=" appendQueryString="true" />
</rule>
</rules>
</rewrite>
<directoryBrowse enabled="false" />
</system.webServer>
</configuration>
