/*------------------------------------------------------------------
Project:	Mosaic
Version:	1.2
Created: 		20/01/2014
Last change:	27/02/2014
-------------------------------------------------------------------*/

/* ===== General ===== */

html, body {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	color: #505050;
}
@media (min-width: 1200px) {
	.container {
		width: 1000px !important;
	}
}

/* ===== Utility Classes ===== */
.pad10 { padding: 10px; }
.topPad15 { padding-top: 15px; }
.topPad20 { padding-top: 20px; }
.topMarg10 { margin-top: 10px; }
.botMarg10 { margin-bottom: 10px; }
.botMarg30 { margin-bottom: 30px; }
.well hr { border-color: #CCC; }
.ofHidden { overflow: hidden; }
/* ===== Typography ===== */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: 'Oswald', sans-serif;
}

.botMarg5 { margin-bottom: 5px; }
.botMarg25 { margin-bottom: 25px; }
.continue-shopping { margin-top: -40px; margin-left: -15px; }
.leftPad10 { padding-left: 10px; }
.font100 { font-size: 100px; }
.topPad35 { padding-top: 35px; }

/* ===== Sticky Footer ===== */

.wrapper {
	min-height: 100%;
	height: auto !important; /* for older versions of IE */
	height: 100%;
	margin-bottom: -348px; /* footer height + margin */
	padding-top: 20px; /* margin */
	padding-bottom: 348px; /* footer height + margin */
}

/* ===== Mini Navbar ===== */

.mini-navbar {
	width: 100%;
	min-height: 40px;
	font-size: 0.9em;
	z-index: 9999;
	position: relative;
}
.mini-navbar .hidden-sm {
	display: inline-block !important;
}

.navbar-brand {
	padding: 12px 15px 10px 15px;
	font-family: 'Oswald', sans-serif;
}

@media (max-width: 450px) {
	.navbar-brand {
		padding-top: 15px;
	}
	.navbar-brand img {
		width: 230px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.mini-navbar .hidden-sm {
		display: none !important;
	}
}
.mini-navbar .phone {
	display: inline-block;
	padding: 10px;
}
.mini-navbar a {
	display: inline-block;
	padding: 10px 10px 11px 10px;
	-webkit-transition: background 500ms;
			transition: background 500ms;
}
.mini-navbar a.first-child {
	margin-left: -25px; /* To align with logo and container */
}


.mini-navbar p.first-child {
	display:inline;
	font-size:15px;
	margin-left: -15px;
	padding-right: 10px;
}

.mini-navbar a:hover {
	text-decoration: none;
}

/* Shopping Cart Indicator */

.cartIcon {
	font-size: 32px;
	margin-top: -8px;
	margin-bottom: -8px;
}

.cart-btn-main {
	border-left: 2px solid #333; margin-right: -15px;
}
.cart-btn-no-main {
	 color: #333333;
	 padding: 10px 10px 11px 10px;
	 border-left: 2px solid #ff9533;
	 margin-right: -15px;
}
.cart-btn-no-xs {
	 color: #999;
	 line-height: 20px;
	 padding: 10px 15px 10px 15px;
}

/* Mini Navbar Dark */

.mini-navbar-dark {
	background: #333;
	color: #FFF;
	border-bottom: initial;
}
.mini-navbar-dark	a {
	color: #FFF;
}
.mini-navbar-dark a:hover {
	color: #555555;
	background: #FFF;
}

/* Mini Navbar White */

.mini-navbar-white {
	background: #fff;
	color: #505050;
	border-bottom: 1px solid #ecf0f1;
}
.mini-navbar-white a {
	color: #505050;
}
.mini-navbar-white a:hover {
	background: #f5f5f5;
}

/* Search Form */

.mini-navbar form {
	width: 250px;
}
.mini-navbar form .form-control{
	height: 26px;
	margin: 7px 0;
	border: 0;
	-webkit-box-shadow: none;
			box-shadow: none;
}
.mini-navbar form button {
	height: 26px;
	margin: 7px 0;
	padding: 2px 7px;
	background: #ecf0f1;
}
.mini-navbar-dark form .form-control {
	background: #FFFFFF;
	border: 1px solid  #ccc;
	color: #666;
}
.mini-navbar-white form .form-control {
	background: #fff;
	border: 1px solid #dedede;
	color: #505050;
}

/* ===== Navbar ===== */
@media (max-width: 767px) {
	.sticky-wrapper {
		height: 75px!important;
	}
}
@media (min-width: 768px) {
	.sticky-wrapper {
		height: 115px!important;
	}
}
.navbar-static-top {
	right: 0;
	left: 0;
}

/* Navbar gets a bit higher */

.navbar {
	min-height: 75px;
	margin-bottom: 0 !important;
	border-radius: 0;
}
@media (min-width: 768px) {
	.navbar-nav > li > a {
	padding-top: 27.5px;
	padding-bottom: 27.5px;
	}
}
.navbar-form {
	margin-top: 20.5px;
	margin-bottom: 20.5px;
}

.navbar-btn {
	margin-top: 20.5px;
	margin-bottom: 20.5px;
}
.navbar-text {
	margin-top: 27.5px;
	margin-bottom: 27.5px;
}
.navbar-toggle {
	margin-top: 20.5px;
	margin-bottom: 20.5px;
}

/* Navbar Dark */

.navbar-dark {
	background-color: #4E4D4A;
	border: 0;
}

.navbar-dark .navbar-brand {
	color: #ecf0f1;
	text-shadow: 1px 1px 2px #333;
}

.navbar-dark .navbar-brand > span {
	color: #ccc;
}

.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus {
	color: #fff;
}

.navbar-dark .navbar-text {
	color: #ecf0f1;
}

.navbar-dark .navbar-nav > li > a {
	color: #ecf0f1;
	background: transparent;
	-webkit-transition: background 500ms;
			transition: background 500ms;
}

/* .navbar-dark .navbar-nav > li > a:hover,
.navbar-dark .navbar-nav > li > a:focus {
	color: #FFF;
} */

.navbar-dark .navbar-nav > .active > a,
.navbar-dark .navbar-nav > .active > a:hover,
.navbar-dark .navbar-nav > .active > a:focus {
	color: #FFF;
	background-color: #353432;
}

.navbar-dark .navbar-nav > .disabled > a,
.navbar-dark .navbar-nav > .disabled > a:hover,
.navbar-dark .navbar-nav > .disabled > a:focus {
	color: #bdc3c7;
}

.navbar-dark .navbar-toggle {
	border-color: transparent;
	background: transparent;
}

.navbar-dark .navbar-toggle:hover,
.navbar-dark .navbar-toggle:focus {
	background-color: #353432;
}

.navbar-dark .navbar-toggle .icon-bar {
	background-color: #ecf0f1;
}

.navbar-dark .navbar-toggle:hover .icon-bar,
.navbar-dark .navbar-toggle:focus .icon-bar{
	background-color: #fff;
}

.navbar-dark .navbar-collapse,
.navbar-dark .navbar-form {
	border-color: #353432;
}

.navbar-dark .navbar-nav > .open > a,
.navbar-dark .navbar-nav > .open > a:hover,
.navbar-dark .navbar-nav > .open > a:focus {
	color: #FFF;
}

.navbar-nav > .open > a:after {
	content: "\f0d8";
	font-family: FontAwesome;
	position: absolute;
	z-index: 9999;
	bottom: -5px;
	left: 50%;
	margin-left: -10px;
	font-size: 36px;
}

.navbar-dark .navbar-nav > .open > a:after {
	color: #353432;
}

.navbar-white .navbar-nav > .open > a:after {
	color: #fff;
}

.navbar-dark .navbar-nav > .dropdown > a:hover .caret {
	border-top-color: #FFF;
	border-bottom-color: #FFF;
}

.navbar-dark .navbar-nav > .dropdown > a .caret {
	border-top-color: #ecf0f1;
	border-bottom-color: #ecf0f1;
}

.navbar-dark .navbar-nav > .open > a .caret,
.navbar-dark .navbar-nav > .open > a:hover .caret,
.navbar-dark .navbar-nav > .open > a:focus .caret {
	border-top-color: #FFF;
	border-bottom-color: #FFF;
}

/* Navbar Dark Dropdown Menu */

.navbar-dark .navbar-nav > li > .dropdown-menu {
	background-color: #353432;
	border: 1px solid #353432;
	border-top: 1px solid #666;
	-webkit-box-shadow: none;
			box-shadow: none;
}
.navbar-dark .dropdown-menu > li > a {
	padding: 7px 20px;
	border-bottom: 1px solid #666;
	color: #fff;
}
.navbar-dark .dropdown-menu > li > a:hover,
.navbar-dark .dropdown-menu > li > a:focus {
	color: #fff;
	-webkit-transition: all 0.1s ease-in-out;
			transition: all 0.1s ease-in-out;
}
.navbar-dark .dropdown-menu > li:last-child > a {
	border-bottom: 0;
}

.navbar-dark .navbar-link {
	color: #ecf0f1;
}

.navbar-dark .navbar-link:hover {
	color: #FFF;
}

/* Navbar Dark Mobile */

@media (max-width: 767px) {
	.navbar-dark .navbar-nav .open .dropdown-menu > .dropdown-header {
		border-color: #353432;
	}
	.navbar-dark .navbar-nav .open .dropdown-menu > li > a {
		color: #ecf0f1;
		padding: 10px 20px;
		border: 0;
	}
	.navbar-dark .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-dark .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #fff;
	}
	.navbar-dark .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-dark .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-dark .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #fff;
	}
	.navbar-dark .navbar-nav .open .dropdown-menu > .disabled > a,
	.navbar-dark .navbar-nav .open .dropdown-menu > .disabled > a:hover,
	.navbar-dark .navbar-nav .open .dropdown-menu > .disabled > a:focus {
		color: #bdc3c7;
		background-color: transparent;
	}
	.navbar-dark .navbar-nav > li > a:hover,
	.navbar-dark .navbar-nav > li > a:focus {
		color: #FFF;
	}
	.navbar-dark .navbar-nav > .open > a,
	.navbar-dark .navbar-nav > .open > a:hover,
	.navbar-dark .navbar-nav > .open > a:focus {
		padding-top: 10px;
		padding-bottom: 10px;
		border-width: 0;
	}
}

/* Navbar White */

.navbar-white {
	background-color: #fff;
	border: 0;
	-webkit-box-shadow: 0 0 16px 0 rgba(50, 50, 50, 0.3);
	-moz-box-shadow: 0 0 16px 0 rgba(50, 50, 50, 0.3);
	box-shadow: 0 0 16px 0 rgba(50, 50, 50, 0.3);
}

.navbar-white .navbar-brand {
	color: #505050;
}

.navbar-white .navbar-brand > span {
	color: #ccc;
}

.navbar-white .navbar-brand:hover,
.navbar-white .navbar-brand:focus {
	color: #111;
}

.navbar-white .navbar-text {
	color: #505050;
}

.navbar-white .navbar-nav > li > a {
	color: #505050;
	background: transparent;
	-webkit-transition: background 500ms;
			transition: background 500ms;
}

/* .navbar-white .navbar-nav > li > a:hover,
.navbar-white .navbar-nav > li > a:focus {
	color: #fff;
} */

.nav-hover-fix:hover {
	color: #fff !important;
}

.navbar-white .navbar-nav > .active > a,
.navbar-white .navbar-nav > .active > a:hover,
.navbar-white .navbar-nav > .active > a:focus {
	color: #111;
	background: #f5f5f5;
}

.navbar-white .navbar-nav > .disabled > a,
.navbar-white .navbar-nav > .disabled > a:hover,
.navbar-white .navbar-nav > .disabled > a:focus {
	color: #ccc;
}

.navbar-white .navbar-toggle {
	border-color: transparent;
	background: transparent;
}

.navbar-white .navbar-toggle:hover,
.navbar-white .navbar-toggle:focus {
	background-color: #f5f5f5;
}

.navbar-white .navbar-toggle .icon-bar {
	background-color: #505050;
}

.navbar-white .navbar-toggle:hover .icon-bar,
.navbar-white .navbar-toggle:focus .icon-bar{
	background-color: #111;
}

.navbar-white .navbar-collapse,
.navbar-white .navbar-form {
	border-color: #ccc;
}

.navbar-white .navbar-nav > .open > a,
.navbar-white .navbar-nav > .open > a:hover,
.navbar-white .navbar-nav > .open > a:focus {
	color: #fff;
}

.navbar-white .navbar-nav > .dropdown > a:hover .caret {
	border-top-color: #fff;
	border-bottom-color: #fff;
}

.navbar-white .navbar-nav > .dropdown > a .caret {
	border-top-color: #505050;
	border-bottom-color: #505050;
}

.navbar-white .navbar-nav > .open > a .caret,
.navbar-white .navbar-nav > .open > a:hover .caret,
.navbar-white .navbar-nav > .open > a:focus .caret {
	border-top-color: #fff;
	border-bottom-color: #fff;
}

/* Navbar White Dropdown Menu */

.navbar-white .navbar-nav > li > .dropdown-menu {
	background-color: #fff;
	border: 1px solid #ecf0f1;
	border-top: 1px solid #f5f5f5;
}
.navbar-white .dropdown-menu > li > a {
	padding: 7px 20px;
	border-bottom: 1px solid #ecf0f1;
	color: #505050;
}
.navbar-white .dropdown-menu > li > a:hover,
.navbar-white .dropdown-menu > li > a:focus {
	color: #fff;
	-webkit-transition: all 0.1s ease-in-out;
			transition: all 0.1s ease-in-out;
}
.navbar-white .dropdown-menu > li:last-child > a {
	border-bottom: 0;
}

.navbar-white .navbar-link {
	color: #505050;
}

.navbar-white .navbar-link:hover {
	color: #505050;
}

/* Navbar White Mobile */

@media (max-width: 767px) {
	.navbar-white .navbar-nav .open .dropdown-menu > .dropdown-header {
		border-color: #ecf0f1;
	}
	.navbar-white .navbar-nav .open .dropdown-menu > li > a {
		color: #505050;
		padding: 10px 20px;
		border: 0;
	}
	.navbar-white .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-white .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #fff;
	}
	.navbar-white .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-white .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-white .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #505050;
		background-color: transparent;
	}
	.navbar-white .navbar-nav .open .dropdown-menu > .disabled > a,
	.navbar-white .navbar-nav .open .dropdown-menu > .disabled > a:hover,
	.navbar-white .navbar-nav .open .dropdown-menu > .disabled > a:focus {
		color: #ccc;
		background-color: transparent;
	}
	/* .navbar-white .navbar-nav > li > a:hover,
	.navbar-white .navbar-nav > li > a:focus {
		color: #fff;
	} */
	.navbar-white .navbar-nav > .open > a,
	.navbar-white .navbar-nav > .open > a:hover,
	.navbar-white .navbar-nav > .open > a:focus {
		color: #fff;
		padding-top: 10px;
		padding-bottom: 10px;
		border-width: 0;
	}
}

/* ===== Style Toggle ===== */

.style-toggle-btn {
	position: absolute;
	z-index: 50505055;
	top: -3px;
	left: -46px;
	color: #FFF;
	background: #4E4D4A;
	padding: 12px;
	font-size: 18px;
	border-radius: 3px 0 0 3px;
	cursor: pointer;
}
.style-toggle-btn.fa-angle-double-right {
	padding: 12px 17px 12px 16px;
}
.style-toggle {
	position: fixed;
	z-index: 50505055;
	top: 150px;
	right: -180px;
	max-width: 180px;
	border-radius: 0 0 0 3px;
	background: #fff;
	border: 3px solid #666;
	border-right: 0;
	color: #505050;
	-webkit-transition: right 0.5s ease-in-out;
			transition: right 0.5s ease-in-out;
}
.style-toggle-show {
	right: 0;
}
.style-toggle-header {
	padding: 10px;
	color: #fff;
	background: #666;
}
.style-toggle-body {
	padding: 10px;
}

/* ===== Back to Top link ===== */

.backtotop {
	background: #666;
	padding: 10px 15px;
	font-size: 18px;
	color: #FFF;
	border-radius: 3px;
	-webkit-transition: background 0.1s ease-in-out;
			transition: background 0.1s ease-in-out;
}
.backtotop:hover {
	background: #4E4D4A;
}

/* ===== Footer ===== */

footer {
	padding: 20px 0;
	margin-top: 50px;
}
footer h3 {
	padding-bottom: 10px;
	border-bottom: 1px solid #666;
	margin-bottom: 20px;
}
footer h3 > span {
	padding: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

/* Footer Dark */

.body-green footer a {
	color: #FFFFFF;
	text-decoration: underline;
}

.body-green footer a:hover, .body-green footer a:active {
	color: #555555;
	text-decoration: none;
}

.footer-dark {
	background: #333;
	color: #FFFFFF;
}
.footer-dark hr {
	border-top: 1px solid #666;
}

/* Footer White */

.footer-white {
	background: #fff;
	border-top: 1px solid #dedede;
	color: #999;
}
.footer-white h3 {
	border-color: #eee;
}

/* Contact Us */

 .contact-img-pad { padding-top: 5px; padding-right: 0px; }
 
 .rep-img-contain {
	max-height: 98px;
	overflow:hidden;
	margin-bottom: 5px; 
 }
 
 .rep-img-contain img {
	width: 90px;
	border: 1px solid #FFF; 
 }

/* Social Links */

.social > ul,
.social > ul > li {
	margin: 0;
	padding: 0;
}
.social li > a {
	display: inline-block;
	width: 34px;
	height: 34px;
	margin: 0 2px 2px 0;;
	border-radius: 34px;
	text-align: center;
	font-size: 16px;
	line-height: 34px;
	background: #fff;
	color: #4E4D4A;
	transition: background 500ms, color 500ms;
	-webkit-transition: background 500ms, color 500ms;
}
.social li:hover > a {
	color: #fff;
}
.social li > a.rss:hover {
	background: #ff9900;
}
.social li > a.facebook:hover {
	background: #3B5998;
}
.social li > a.twitter:hover {
	background: #1dcaff;
}
.social li > a.plus:hover {
	background: #dd4b39;
}
.social li > a.vk:hover {
	background: #3f628a;
}
.social li > a.pinterest:hover {
	background: #c92026;
}
.social li > a.vimeo:hover {
	background: #446d82;
}
.social li > a.github:hover {
	background: #657e8c;
}
.social li > a.linkedin:hover {
	background: #0c7bb3;
}
.social li > a.dropbox:hover {
	background: #4fa3e3;
}
.social li > a.youtube:hover {
	background: #ed413e;
}

/* Footer White Social Links */

.footer-white .social li > a {
	border: 1px solid #ccc;
}
.footer-white .social li > a:hover {
	border: 1px solid transparent;
}

/* ===== Jumbotron ===== */
.main-slideshow {
	position: relative;
	margin-top: -20px;
}
.jumbotron {
	width: 100%;
	height: 470px;
	margin-bottom: 14px;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #FFF;
	border-bottom: 1px solid #eee;
	overflow: hidden;
}
.jumbotron .color-stripe {
	width: 100%;
	position: absolute;
	top: 80px;
	margin-right: -30px;
	margin-left: -30px;
}
.jumbotron.wellness-products .color-stripe {
	 background: #6a87c9;
}
.jumbotron.wellness-wristband .color-stripe {
	 background: #4eb18c;
}
.jumbotron.youth-slide .color-stripe {	 
	 background: #e87cf6;
}
.jumbotron.power-slide .color-stripe {	 
	 background: #71bbf9;
}
.jumbotron.money-slide .color-stripe {	 
	 background: #1a90f4;
}
/*.jumbotron.collagen .color-stripe {
	 background: rgba(255, 64, 131, 0.5);
}
.jumbotron.vidavitamin .color-stripe {
	 background: rgba(255, 138, 0, 0.5);
}
.jumbotron.aloevida .color-stripe {
	 background: rgba(68, 145, 61, 0.8);
}
.jumbotron.opportunity1 .color-stripe {
	 background: rgba(80, 31, 153, 0.7);
}
.jumbotron.opportunity2 .color-stripe {
	 background: rgba(0, 161, 185, 0.7);
}*/
.jumbotron h1 {
	font-family: Glegoo;
	font-size: 36px!important;
	line-height: 1.1;
	margin-bottom: 10px;
	text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}
.jumbotron img {
	width: auto;
	margin: 0px;
	position: absolute;
	top: -80px;
}
.jumbotron.wellness-products img {
	right: -70px;
}
.jumbotron.wellness-wristband img {
	right: -10px;
}
.jumbotron.youth-slide img {
	/*right: -290px;*/
}
.jumbotron.money-slide img {
	/*right: -60px;*/
}
.jumbotron.power-slide img {
	/*right: -240px;*/
}
/*.jumbotron.opportunity1 img {
	right: -270px;
	top: -81px;
}
.jumbotron.opportunity2 img {
	right: 0px;
	top: -81px;
}*/
.jumbotron p.lead {
	line-height: 1.2em;
	text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}
.jumbotron .btn {
	font-family: Glegoo;
	font-size: 20px;
	padding: 8px 40px;
	margin-top: 10px;
	margin-bottom: -100px;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.jumbotron a { color: #fff; }
.jumbotron a:hover { color: #fff; }
.btn-wellness-products {
	color: #FFF;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #02c66c), color-stop(1, #02ad5e));
	background: -moz-linear-gradient(top, #02c66c 5%, #02ad5e 100%);
	background: -webkit-linear-gradient(top, #02c66c 5%, #02ad5e 100%);
	background: -o-linear-gradient(top, #02c66c 5%, #02ad5e 100%);
	background: -ms-linear-gradient(top, #02c66c 5%, #02ad5e 100%);
	background: linear-gradient(to bottom, #02c66c 5%, #02ad5e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='@success-color', endColorstr='darken(@success-color, 5%)', GradientType=0);
	background-color: #02c66c;
	border: 1px solid #02ad5e;
}
.btn-wellness-products:hover {
	background: #02a85c;
}
.btn-wellness-wristband {	
	color: #FFF;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #02c66c), color-stop(1, #02ad5e));
	background: -moz-linear-gradient(top, #02c66c 5%, #02ad5e 100%);
	background: -webkit-linear-gradient(top, #02c66c 5%, #02ad5e 100%);
	background: -o-linear-gradient(top, #02c66c 5%, #02ad5e 100%);
	background: -ms-linear-gradient(top, #02c66c 5%, #02ad5e 100%);
	background: linear-gradient(to bottom, #02c66c 5%, #02ad5e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='@success-color', endColorstr='darken(@success-color, 5%)', GradientType=0);
	background-color: #02c66c;
	border: 1px solid #02ad5e;
}
.btn-wellness-wristband:hover {
	background: #02a85c;
}
.btn-youth-slide {	
	color: #FFF;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #02c66c), color-stop(1, #02ad5e));
	background: -moz-linear-gradient(top, #02c66c 5%, #02ad5e 100%);
	background: -webkit-linear-gradient(top, #02c66c 5%, #02ad5e 100%);
	background: -o-linear-gradient(top, #02c66c 5%, #02ad5e 100%);
	background: -ms-linear-gradient(top, #02c66c 5%, #02ad5e 100%);
	background: linear-gradient(to bottom, #02c66c 5%, #02ad5e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='@success-color', endColorstr='darken(@success-color, 5%)', GradientType=0);
	background-color: #02c66c;
	border: 1px solid #02ad5e;
}
.btn-youth-slide:hover {
	background: #02a85c;
}
.btn-money-slide {	
	color: #FFF;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #02c66c), color-stop(1, #02ad5e));
	background: -moz-linear-gradient(top, #02c66c 5%, #02ad5e 100%);
	background: -webkit-linear-gradient(top, #02c66c 5%, #02ad5e 100%);
	background: -o-linear-gradient(top, #02c66c 5%, #02ad5e 100%);
	background: -ms-linear-gradient(top, #02c66c 5%, #02ad5e 100%);
	background: linear-gradient(to bottom, #02c66c 5%, #02ad5e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='@success-color', endColorstr='darken(@success-color, 5%)', GradientType=0);
	background-color: #02c66c;
	border: 1px solid #02ad5e;
}
.btn-money-slide:hover {
	background: #02a85c;
}
.btn-power-slide {	
	color: #FFF;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #02c66c), color-stop(1, #02ad5e));
	background: -moz-linear-gradient(top, #02c66c 5%, #02ad5e 100%);
	background: -webkit-linear-gradient(top, #02c66c 5%, #02ad5e 100%);
	background: -o-linear-gradient(top, #02c66c 5%, #02ad5e 100%);
	background: -ms-linear-gradient(top, #02c66c 5%, #02ad5e 100%);
	background: linear-gradient(to bottom, #02c66c 5%, #02ad5e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='@success-color', endColorstr='darken(@success-color, 5%)', GradientType=0);
	background-color: #02c66c;
	border: 1px solid #02ad5e;
}
.btn-power-slide:hover {
	background: #02a85c;
}
@media (max-width: 992px) {
	.jumbotron.wellness-products img {
		right: -70px;
	}
	.jumbotron.wellness-wristband img {
		right: -170px;
	}
	.jumbotron.vidavitamin img {		
		right: -90px;
	}
	.jumbotron.bodyalign img {
	right: -120px;
	}
	.jumbotron.vidashake img {
	right: -140px;
	}
	.jumbotron.collagen img {
		right: -350px;
	}
	.jumbotron.aloevida img {
		right: -280px;
	}
}
@media (max-width: 767px) {
	.jumbotron .color-stripe {
		top: 30px;
	}
	.jumbotron h1	 {
		margin-top: 0px;
	}
}
/* Slideshow controls */

a.slideshow-arrow	{
	position: absolute;
	display: block;
	height: 100px;
	width: 50px;
	top: 50%;
	margin-top: -60px;
	background: transparent;
	color: transparent;
	font-size: 32px;
	font-weight: 300;
	line-height: 100px;
	text-align: center;
	cursor: pointer;
	-webkit-transition: background 500ms, color 500ms;
			transition: background 500ms, color 500ms;
}
.main-slideshow:hover a.slideshow-arrow	{
	background: #666;
	background: rgba(0, 0, 0, 0.5);
	color: #FFF;
}
a.slideshow-arrow:hover,
a.slideshow-arrow:active {
	text-decoration: none;
}
a.slideshow-arrow-prev {
	left: 0;
	right: auto;
	padding-right: 5px;
}
a.slideshow-arrow-next {
	right: 0;
	left: auto;
	padding-left: 5px;
}

/* Home Page Video */
.flex-video {
    margin-bottom: 0px;
    padding-bottom: 58.3%;
		border-radius: 3px;
}
@media (max-width: 992px) {
	.flex-video {
		padding-bottom: 55.5%;
	}
}

/* ===== Intro Text ===== */

.intro .btn {
	margin-top: 20px;
}

/* ===== Services ===== */

.services {
	margin-top: 30px;
	margin-bottom: 60px;
}
.services-item i {
	float: left;
	margin: 20px 15px 0 0;
	-webkit-transition: all 500ms;
			transition: all 500ms;
}
.services-item-desc {
	overflow: hidden;
}

/* ===== Home Row w/4 boxes =====*/

.row-4-boxes {
	padding: 0px;
	margin-bottom: -36px;
}
.row-4-boxes .col-md-3, .row-4-boxes .col-sm-6 {
	padding: 0px;
}
.row-4-boxes .col-md-3 img, .row-4-boxes .col-sm-6 img {
	width: 100%;
}
@media only screen and (min-width:499px) and (max-width: 767px) {
	.row-4-boxes .col-sm-6 {
		width: 50%;
		float: left;
	}
}

/* Portfolio */

.portfolio {
	margin-bottom: 30px;
}
.portfolio-item > a {
	position: relative;
	display: block;
	overflow: hidden;
}
.portfolio-item > a > img {
	border-radius: 3px;
}
.portfolio-item > a > .mask {
	position: absolute;
	bottom: -40px;
	width: 100%;
	padding: 10px;
	border-radius: 0 0 3px 3px;
	background: #4E4D4A;
	color: #fff;
	-webkit-transition: bottom 500ms;
			transition: bottom 500ms;
}
.col-sm-3 > .portfolio-item > a > .mask,
.col-md-3 > .portfolio-item > a > .mask,
.col-lg-3 > .portfolio-item > a > .mask {
	font-size: 0.9em;
}
.portfolio-item > a:hover > .mask {
	bottom: 0;
}
.portfolio-desc {
	padding: 0 5px;
	margin-bottom: 20px;
}
.portfolio-desc > h3 {
	font-size: 20px;
	line-height: 1.5;
	margin-bottom: 10px;
}

/* ===== Features ===== */

.features.last {
	margin-bottom: 50px;
}
.divider {
	border-bottom: 1px solid #eee;
	margin: 20px 0 40px;
}
.features h3 {
	font-size: 20px;
	line-height: 1.5;
	margin-top: 50px;
}
.features p {
	line-height: 1.7;
}
.features img {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.features .border-bottom {
	border-bottom: 1px solid #dedede;
}

@media (max-width: 767px) { /* Adjusting for mobile */
	.features h3 {
		margin-top: 30px;
	}
	.features	h3.first-child {
		margin-top: 0;
	}
	.features.last {
		margin-bottom: 0;
	}
}

/* ===== Block Block ===== */

.recent-blogs {
	margin-bottom: 20px;
}
.recent-blog {
	margin-bottom: 20px;
}
.recent-blog img {
	height: 70px;
	width: 70px;
	float:left;
	margin-right: 20px;
	border-radius: 70px;
}
.recent-blog-desc {
	overflow: hidden;
}
.recent-blog-desc h3 {
	font-size: 20px;
	line-height: 1.5;
	margin-top: 0;
}
.recent-blog-desc p {
	line-height: 1.7;
}

/* ===== About Us Page ===== */

.about-us-p img {
	max-width: 40%;
	margin: 0 20px 20px 0;
}

/* Our Team & Powervida Packages*/

.image-bg-fluid-height {
  background: url('/files/img/opportunity.jpg') no-repeat center center scroll;
  background-size: cover;
  padding: 100px 0;
}
.opportunity-heading {
  overflow: visible;
  margin-bottom: 10px;
	height: auto;
}
.opportunity-heading btn {
  display: block;  
  margin-left: auto;   
  margin-right: auto; 
}
.opportunity-heading h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 60px;
  margin-bottom: 20px;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
}
.opportunity-heading h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
  margin-right: 0px;
  color: #FFF;
  text-align: center;
}
.opportunity-heading a {
  margin-right: 0px;
}
.starter, .builder, .growth {
	background-size: cover;
  padding: 75px 20px;
  min-height: 990px;
}
.starter {
	background: #ea7961;
	background: #ea7961 radial-gradient(#ef9885, #ea7961) repeat scroll 0 0;
}
.builder {
	background: #4eb18c;	
	background: #4eb18c radial-gradient(#86c9b0, #4eb18c) repeat scroll 0 0;
}
.growth {
	background: #6a87c9;
	background: #6a87c9 radial-gradient(#8ca2d5, #6a87c9) repeat scroll 0 0;
}
.starter h2, .builder h2, .growth h2 {
 color: #FFF;
 text-transform: uppercase;
 text-align: center;
}
.starter h3, .builder h3, .growth h3 {
 color: #FFF;
 text-transform: uppercase;
 text-align: center;
 margin-top: 10px;
}
.starter h4, .builder h4, .growth h4 {
 color: #FFF;
}
.starter p, .builder p, .growth p {
 color: #FFF;
 text-align: center;
}
.starter ul, .builder ul, .growth ul {
  padding-top: 0px;
  padding-left: 0px;
  font-size: 14px;
  list-style: none;
  margin-bottom: 20px;
  color: #FFF;
}
.starter ul ul, .builder ul ul, .growth ul ul {
	padding-top: 10px;
}
.starter li, .builder li, .growth li {
  margin-bottom: 10px;
}
.wrist-band {
	margin-right: auto;
	margin-left: auto;
	width: 80%;
}
@media (min-width: 768px) {
	.wrist-band {
		width: 70%;
	}
}
@media (min-width: 1200px) {
	.wrist-band {
		width: 50%;
	}
}
.opportunity-contain {
  margin-bottom: -50px;
}
.opportunity-contain option {
	padding: 5px 0px;
}
#animate {
  -webkit-animation-duration: 4s;
}
.team-members .members {
	color: #FFF;
	width: 50%;
	float: left;
	padding: 0 10px 0 0;
}
.team-members .members:last-child  {
	padding-right: 0px;
}
.team-members .members ul {
	padding-top: 20px;
	padding-left: 0px;
	font-size: 14px;
	list-style: none;
	margin-bottom: 20px;
}
.team-members .members li {
	margin-bottom: 10px;
}
.team-members .members hr {
	border-color: #d5d5d5;
}
.team-member {
	padding: 1px 30px 15px 30px;
	position: relative;
	margin-bottom: 10px;
	background: #94ba65;
}
.team-members .members:last-child .team-member {
	background: #f2984a;
}
.team-members .members:last-child .team-member a {
	color: #f2984a;
}
.team-members .members:last-child .team-member a:hover {
	color: #333;
}
.team-member:hover {
	border-color: #ddd;
}
.team-member > img {
	border-radius: 3px;
}
.team-member .contain {
	min-height: 560px;
}
@media (max-width: 992px) {
	.team-member .contain {
		min-height: 630px;
	}
}
@media (max-width: 767px) {
	.team-members .members {
		width: 100%;
		padding-right: 0px;
		float: none;
	}
	.team-member .contain {
		min-height: inherit;
	}
	.team-members .members ul {
		text-align: center;
		padding-left: 0px;
	}
}

/* Recipes */
.recipes .row { margin-bottom: 70px; }
.recipes ul {
	list-style: none;
	padding: 5px 0px 5px 15px;
}

@media (max-width: 992px) {
	.recipes .row {
		margin-bottom: 0px;		
	}
	.recipes .row div {
		margin-bottom: 50px;
	}
	.recipes .row div.clearfix {
		margin-bottom: 0px;
	}
}

/* ===== Blog Page ===== */

.blog-p img.author {
	float:left;
	height: 70px;
	width: 70px;
	border-radius: 70px;
	margin-right: 20px;
}
.blog-p-body {
	overflow: hidden;
}
.blog-p-body p {
	line-height: 1.7;
}
.blog-p-body .flex-video {
	margin: 20px 0;
}
.blog-p-body img {
	border-radius: 3px;
	margin: 20px 0;
}
.blog-p-search {
	margin-bottom: 40px;
}
.blog-p-social {
	list-style-type: none;
	margin: 0 0 40px 0;
	padding: 0;
}
.blog-p-social > li {
	padding: 0;
	border-bottom: 1px solid #eee;
}
.blog-p-social > li a {
	display: block;
	padding: 10px 0;
}
.blog-p-social > li i {
	margin-right: 10px;
}
.blog-p-popular {
	list-style-type: none;
	margin: 20px 0 0 0;
	padding: 0;
}
.blog-p-popular > li {
	margin-bottom: 10px;
}

/* ===== Comments ===== */

.comments {
	margin: 20px 0;
}
.cmt {
	margin-bottom: 15px;
}
.cmt > img {
	width: 70px;
	height: 70px;
	border-radius: 3px;
	float: left;
	margin: 0 10px 0 0;
}
.cmt > .cmt-block {
	overflow: hidden;
}
.cmt > .cmt-block > .cmt-body {
	margin-top: 5px;
}
.cmt > .cmt-block textarea {
	border-radius: 0;
}

/* ===== Coming Soon ===== */

.coming-soon-p {
	padding: 100px 0;
	background: url(/img/bg-1.jpg) center center no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: #fff;
}
.coming-soon-p h1 {
	font-size: 50px;
	text-shadow: 1px 1px 2px #505050;
}
.coming-soon-p .lead {
	margin: 40px 0 50px;
	text-shadow: 1px 1px 2px #505050;
}
.coming-soon-p form .form-control,
.color-jumbotron form .form-control { /* Same form for the shop jumbotron */
	height: 45px;
	width: 300px;
	padding: 12px 24px;
	border-radius: 45px 0 0 45px;
	font-size: 18px;
	-webkit-box-shadow: none;
			box-shadow: none;
}
.coming-soon-p form button,
.color-jumbotron	form button {
	height: 45px;
	border-radius: 0 45px 45px 0;
	margin-left: -4px;
}
@media (max-width: 767px) {
	.coming-soon-p {
		padding: 30px 0;
	}
	.coming-soon-p form .form-control,
	.color-jumbotron	form .form-control {
		border-radius: 45px;
		width: 100%;
	}
	.coming-soon-p form button,
	.color-jumbotron	form button {
		display: block;
		width: 100%;
		border-radius: 45px;
	}
}
.is-countdown {
	margin-top: 50px;
	margin-bottom: 100px;
	font-size: 32px;
	text-shadow: 1px 1px 2px #505050;
	font-family: 'Oswald', sans-serif;
}
.countdown-rtl {
	direction: rtl;
}
.countdown-row {
	clear: both;
	width: 100%;
	padding: 0px 2px;
	text-align: center;
}
.countdown-show1 .countdown-section {
	width: 98%;
}
.countdown-show2 .countdown-section {
	width: 48%;
}
.countdown-show3 .countdown-section {
	width: 32.5%;
}
.countdown-show4 .countdown-section {
	width: 24.5%;
}
.countdown-show5 .countdown-section {
	width: 19.5%;
}
.countdown-show6 .countdown-section {
	width: 16.25%;
}
.countdown-show7 .countdown-section {
	width: 14%;
}
.countdown-section {
	display: block;
	float: left;
	font-size: 75%;
	text-align: center;
}
.countdown-amount {
	font-size: 200%;
}
.countdown-period {
	display: block;
}
.countdown-descr {
	display: block;
	width: 100%;
}

/* ===== Contact Us ===== */

.map {
	overflow: hidden;
}

/* ===== Portfolio List ===== */

.glr-list-p > li:first-child {
	padding-left: 5px !important;
}
.glr-list-p	> li {
	margin-bottom: 10px;
}
.glr-list-p	> li.clearfix {
	display: none;
}

/* ===== Portfolio Item ===== */

.port-slideshow-p {
	position: relative;
	border-radius: 3px;
	overflow: hidden;
	margin-bottom: 30px;
}

/* Slideshow controls */

a.port-arrow-p	{
	position: absolute;
	display: block;
	height: 100px;
	width: 50px;
	top: 50%;
	margin-top: -50px;
	background: transparent;
	color: transparent;
	font-size: 32px;
	font-weight: 300;
	line-height: 100px;
	text-align: center;
	cursor: pointer;
	-webkit-transition: background 500ms, color 500ms;
			transition: background 500ms, color 500ms;
}
.port-slideshow-p:hover a.port-arrow-p	{
	background: rgba(0, 0, 0, 0.5);
	color: #FFF;
}
a.port-arrow-p:hover,
a.port-arrow-p:active {
	text-decoration: none;
}
a.port-arrow-prev {
	left: 0;
	right: auto;
	padding-right: 5px;
}
a.port-arrow-next {
	right: 0;
	left: auto;
	padding-left: 5px;
}

/* !Slideshow controls */

.port-item-p h3 {
	line-height: 1.5;
}
.port-item-p p {
	line-height: 1.7;
}

/* ===== Pricing Table ===== */

.pricing-p .item {
	background: #fff;
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 3px;
	text-align: center;
	-webkit-transition: margin-top 500ms;
			transition: margin-top 500ms;
}
.pricing-p .item:hover {
	margin-top: -10px;
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
.pricing-p .head {
	position: relative;
	margin-bottom: 50px;
	padding: 30px 10px 10px;
	border-radius: 3px;
}
.pricing-p .head h4 {
	color: #FFF;
	text-transform: uppercase;
}
.pricing-p .head .arrow {
	position: absolute;
	bottom: -30px;
	left: 0;
	height: 30px;
	width: 100%;
	border-top-width: 30px;
	border-top-style: solid;
	border-right: 99px solid white;
	border-left: 99px solid white;
}
.pricing-p .sceleton h5 {
	font-size: 30px;
}
.pricing-p .sceleton span {
	font-size: 24px;
}
.pricing-p .sceleton ul {
	margin: 0 0 10px;
	padding: 0;
}
.pricing-p .sceleton li {
	list-style-type: none;
	padding: 10px 0;
	border-top: 1px dotted #ccc;
}
.pricing-p .sceleton li:hover {
	border-top: 1px solid #ccc;
	background: #eee;
	cursor: pointer;
}
@media (max-width: 1200px) { /* Adjusting for large devices */
	.pricing-p .head .arrow {
		border-right-width: 95px;
		border-left-width: 95px;
	}
	
	.pricing-p .item img { width: 191px; }
}
@media (max-width: 992px) { /* Adjusting for small devices */
	.pricing-p .head .arrow {
		border-right-width: 68px;
		border-left-width: 68px;
		border-top-width: 20px;
	}
	
	.pricing-p .item img { width: 136px; }	
	
}
@media (max-width: 767px) { /* Adjusting for mobile */
	.pricing-p .head {
		padding: 20px;
		margin-bottom: 20px;
	}
	.pricing-p .head .arrow {
		border: 0;
	}
	.pricing-p .item {
		margin: 20px 0;
	}
	.pricing-p .item:hover {
		margin: 20px 0;
	}
}

/* ===== Services Page ===== */

.services-p {
	margin: 10px 0;
}

/* ===== Sign In & Sign Up ===== */

.sign-form {
	padding: 30px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
.sign-form .popover {
	min-width: 200px;
}
.popover-title {
	font-family: 'Roboto', sans-serif !important;
	background: transparent;
	font-weight: bold;
}

/* ===== 404 Not Found ===== */

.not-found-p {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.not-found-p .text {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -43px;
	margin-left: -150px;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}
.not-found-p h1 {
	margin-top: 0;
}
.not-found-p h2 {
	font-size: 22px;
	margin-top: 0;
}

/* ===== Theme FAQ ===== */

.theme-faq-p p {
	line-height: 1.7;
}

/* ===== Help Center ===== */

 .panel-title {
	font-family: 'Roboto', sans-serif;
}
.faq-cats-p ul {
	list-style-type: none;
	padding: 0; 
	margin: 0;
}
.faq-cats-p ul li:first-child {
	margin: 0 0 15px 0;
}
.faq-cats-p ul li {
	margin: 15px 0 15px 0;
}
.faq-cats-p ul li i{
	vertical-align: middle;
	margin-right: 15px;
	color: #c0c0c0;
}
.faq-cats-p ul li:hover i{
	color: #00B4FF;
} 

/* ===== Shop ===== */

/* Product Details */
.product-details .topic {
	margin-top: 0px;
  margin-bottom: 0px;
}
.product-details .topic h3 {
  padding: 10px 0 10px;
}
.product-details .btn-lg, .product-details .btn-group-lg > .btn {
 /* padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;*/
  margin-top: 15px;
}
.no-right
{
padding-right: 0px;
}
/* Portrait and Landscape */
@media (max-width: 767px) {
	.product-details .center-block-button {
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
}

.color-jumbotron {
	margin-top: -20px;
	margin-bottom: 30px;
	padding: 50px 0;
	color: white;
	text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}
.color-jumbotron form {
	margin-top: 50px;
}
.shop-product {
	padding: 10px;
	margin-bottom: 20px;
	text-align: center;
}
.shop-product:hover {
	border-color: #ddd;
}
.shop-product img {
	margin-bottom: 10px;
	border-radius: 3px;
	width: 240px;
}
.shop-product a {
	color: #515151;
}
.shop-product.featured:before {
	content: "Featured";
	position: absolute;
	top: 0;
	right: 15px;
	padding: 3px 8px;
	border-radius: 0 3px 0 3px;
	background: #E35E54;
	color: white;
}

.old {
	color: red;
	text-decoration: line-through;
}
.new {
	font-weight: bold;
}
.shop-category {
	font-weight: bold;
	padding-bottom: 20px;
	padding-left: 15px;
	margin-bottom: 20px;
	margin-top: 30px;
	border-bottom: 1px solid #eee;
}
.shop-search {
	margin-bottom: 20px;
}

/* Shop Item */
.shop-item .product-img {
	padding-top: 10px;
	margin-bottom: 20px;
}
.shop-item .product-img img {
	border-radius: 3px;
	opacity: 0.5;
}
.shop-item .product-img img:hover {
	opacity: 1;
}
.shop-item .product-img img.main {
	margin-bottom: 5px;
	opacity: 1;
}
.shop-item .product-img .row {
	padding: 0 12px;
}
.shop-item .product-img .col-xs-4 {
	padding-left: 2px;
	padding-right: 2px;
}
@media (max-width: 767px) {
	.shop-item .product-img img.main {
		margin-right: auto;
		margin-left: auto;
	}	
}
.rating {
	display: inline-block;
	margin-left: 0px;
}
.rating li {
	margin: 0;
	padding: 0;
	color: #F7C41F;
	font-size: 14px;
}
.shop-item .reviews {
	font-size: 12px;
	margin-left: 10px;
}
.shop-item .price-block {
	display: inline-block;
	margin-bottom: 10px;
	padding: 10px;
	background: #eee;
	border-radius: 3px;
}
@media (max-width: 992px) {
	.shop-item .price-block {
		padding: 5px;
	}
}
.shop-item .price-block .form-control {
	display: inline-block;
	width: 60px;
}
.shop-item .price-block .price {
	margin-right: 10px;
	vertical-align: middle;
	font-size: 16px;
}
@media (max-width: 767px) {
	.shop-item .price-block {
		width: 225px;
		display: block;
		margin: 0 auto 10px auto;
	}
}

/* Shopping Cart */

.shopping-cart table { background: #FFF; }

.shopping-cart table > thead > tr > th {
	border-bottom-width: 1px;
}
.shopping-cart table > tbody > tr > td {
	vertical-align: middle;
}
.shopping-cart table img {
	float: left;
	width: 40px;
	margin: 0 10px 10px 0;
	border-radius: 3px;
}
.shopping-cart table .item {
	overflow: hidden;
}
@media (max-width: 767px) {
	.shopping-cart table img {
		/*float: none;*/
		/*width: 100%;*/
		margin: 0 0 10px 0;
	}
	.shopping-cart table .item {
		overflow: visible;
	}
	
	.xs-margRight20 { margin-right: 20px; }
}

.form-control.qty { padding-right: 3px; }

.shopping-cart .form-control {
	width: 60px; 
}
.shopping-cart .checkout {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.shopping-cart .checkout > li {
	margin: 10px 0;
}

/* PLACEHOLDER & SELECT REQUIRED */
.req-select {
	font-weight: bold;
	color: #777;
	padding-left: 8px;	
}

.isreq::-moz-placeholder {
	/* FF 19+ */
	color: #777777;
    font-weight: bold;
}

.isreq:-moz-placeholder {
    /* FF 4-18 */
	color: #777777;
	font-weight: bold;
}

:-ms-input-placeholder.isreq {
	color: #777777;
	font-weight: bold;
}

.isreq::-webkit-input-placeholder  {
	color: #777777;
	font-weight: bold;
}

/* ===== Alt Pages ===== */

.alt-p {
	position: absolute;
	width: 100%;
	height: 100%;
	padding-top: 100px;
}
@media (max-width: 767px) {
	.alt-p {
		padding-top: 50px;
	}
}
.alt-p .logo a {
	color: #fff;
	text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
	margin-bottom: 30px;
	text-decoration: none;
}

/* ===== Help Center ===== */

.help-cats-p {
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 30px;
}
.help-cats-p > li	> a {
	display: block;
	padding: 5px 0;
	color: #999;
	-webkit-transition: padding-left 500ms;
			transition: padding-left 500ms;
}
.help-cats-p > li	> a:hover {
	color: #505050;
	padding-left: 7px;
}
.help-questions-p {
	padding-left: 0;
	margin-left: 20px;
}
.help-questions-p > li	> a {
	display: block;
	padding: 5px 0;
	color: #505050;
}

/* ===== User Profile ====== */

.user-avatar {
	position: relative;
	background: #fff;
	margin-bottom: 30px;
}
.user-avatar:before,
.user-avatar:after {
	z-index: -1;
	position: absolute;
	content: "";
	bottom: 15px;
	left: 10px;
	width: 50%;
	top: 80%;
	max-width:300px;
	background: #777;
	-webkit-box-shadow: 0 15px 10px #777;
	-moz-box-shadow: 0 15px 10px #777;
	box-shadow: 0 15px 10px #777;
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	transform: rotate(-3deg);
}
.user-avatar:after {
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	transform: rotate(3deg);
	right: 10px;
	left: auto;
}
.user-social {
	margin-top: 15px;
}
.user-social li > a {
	background: #bdc3c7;
	color: #fff;
}
.user-cart > h4 {
	margin-bottom: 20px;
}
.user-info {
	list-style-type: none;
	padding-left: 0;
	margin-top: 20px;
}
.user-info > li {
	padding: 3px 0;
}
/* Home Page Modal */
.modal {
    z-index: 11999;
}
.modal-backdrop { z-index: 10999; }

#homeModal .modal-content {
    background-color: #000;
}
#homeModal .modal-header {
    border-bottom: none;
    padding: 15px 15px 0px 15px;
}
#homeModal .close {
    color: #fff;
    opacity: 1;
    text-shadow: none;
}
/* Vertically Center Modal */
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events:all;
}
@media (max-width: 767px) {
	#homeModal .modal-header {
    padding: 15px 15px 15px 15px;
	}
}